<!DOCTYPE html>
<html>
<head>
  <title>Poker Card Dealer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <div id='poker'>
<div class='row'>
<div class='span12 page-header'>
<h1>Poker Cards</h1>
<p><a href="http://localhost:3000/poker">Refresh this page to deal a new hand.</a></p>

<h2><%=@cards.sample(5)%></h2>


</body>
</html>
